@model Booking

<div class="container p-2">
    <div class="row">
        <div class="col-12 col-lg-6 p-3 border">
            <div class="row">
                <h3 class="text-primary text-center">House details</h3>
            </div>
            <div class="text-end">
                <a asp-controller="Booking" asp-action="Index" class="btn btn-primary">
                    Back to bookings
                </a>
            </div>
            <hr>
            <partial name="_HouseDetails" model="@Model.House" />
            <hr>
            <div class="text-end">
                <h4>
                    Total cost: @Model.Cost.ToString("c");
                </h4>
            </div>

            <hr />
            <form method="post">
                <div class="row pt-1">
                    <div class="col-12 text-end">
                        <button asp-action="CreateInvoice" asp-route-bookingId="@Model.Id" type="submit" class="btn btn-primary"
                                asp-route-downloadType="word">
                            <i class="bi bi-file-earmark-word"></i>
                            Create invoice
                        </button>
                        <button asp-action="CreateInvoice" asp-route-bookingId="@Model.Id" type="submit" class="btn btn-primary"
                                asp-route-downloadType="pdf">
                            <i class="bi bi-filetype-pdf"></i>
                            Create invoice
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6 p-3 border">
            <form method="post">
                <input asp-for="Id" hidden />
                <input asp-for="HouseId" hidden />
                <input asp-for="UserId" hidden />
                <input asp-for="CheckInDate" hidden />
                <input asp-for="CheckOutDate" hidden />
                <input asp-for="NightsQty" hidden />

                <div class="row p-1">
                    <div class="col-8">
                        <h3 class="text-primary">Enter Booking details</h3>
                    </div>
                    <div class="col-4">
                        @if ((Model.Status == SD.StatusApproved || Model.Status == SD.StatusPending)
                        && User.IsInRole(SD.Role_Admin))
                        {
                            <button type="submit" asp-action="Cancel" class="btn btn-danger float-end"><i class="bi bi-x-circle"></i> Cancel booking</button>
                        }
                    </div>

                </div>
                <div class="row p-1">
                    <div class="form-group p-2 col-6">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="UserEmail"></label>
                        <input asp-for="UserEmail" class="form-control" />
                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="NightsQty"></label>
                        <input asp-for="NightsQty" disabled class="form-control" />
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Status"></label>
                        <input asp-for="Status" disabled class="form-control" />
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="BookingDate"></label>
                        <input asp-for="BookingDate" disabled class="form-control" />
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="CheckInDate"></label>
                        <input asp-for="CheckInDate" disabled class="form-control" />
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="ActualCheckInDate"></label>
                        <input asp-for="ActualCheckInDate" disabled class="form-control" />
                    </div>

                    <div class="form-group p-2 col-6">
                        <label asp-for="CheckOutDate"></label>
                        <input asp-for="CheckOutDate" disabled class="form-control" />
                        <span asp-validation-for="CheckOutDate" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="ActualCheckOutDate"></label>
                        <input asp-for="ActualCheckOutDate" disabled class="form-control" />
                        <span asp-validation-for="ActualCheckOutDate" class="text-danger"></span>
                    </div>
                    @if (Model.IsPaymentSuccessful || User.IsInRole(SD.Role_Admin))
                    {
                        <div class="form-group p-2 col-6">
                            <label asp-for="StripePaymentIntentId"></label>
                            <input asp-for="StripePaymentIntentId" disabled class="form-control" />
                        </div>
                        <div class="form-group p-2 col-6">
                            <label asp-for="StripeSessionId"></label>
                            <input asp-for="StripeSessionId" disabled class="form-control" />
                        </div>
                        <div class="form-group p-2 col-6">
                            <label asp-for="PaymentDate"></label>
                            <input asp-for="PaymentDate" disabled class="form-control" />
                        </div>
                        <div class="form-group p-2 col-6">
                            <label asp-for="Status"></label>
                            <input asp-for="Status" disabled class="form-control" />
                        </div>
                    }
                </div>


                <div class="form-group p-1">
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        if (Model.Status == SD.StatusApproved)
                        {
                            <button type="submit" asp-action="CheckIn" class="btn btn-primary form-control">Check in</button>

                        }
                        if (Model.Status == SD.StatusCheckedIn)
                        {
                            <button type="submit" asp-action="CheckOut" class="btn btn-primary form-control">Check out</button>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}