@model BookingVM

<div class="container p-2">
    <div class="row">
        <div class="col-12 col-lg-6 p-3 border">
            <div class="row">
                <h3 class="text-primary text-center">House details</h3>
            </div>
            <div class="text-end">
                <a asp-controller="Booking" asp-action="Index" class="btn btn-primary">
                    Back to bookings
                </a>
            </div>
            <hr>
            <partial name="_HouseDetails" model="@Model.HouseVM" />
            <hr>
            <div class="text-end">
                <h4>
                    Total cost: @Model.Booking.Cost.ToString("c");
                </h4>
            </div>

        </div>
        <div class="col-12 col-lg-6 p-3 border">
            <form method="post">
                <input asp-for="Booking.Id" hidden />
                <input asp-for="Booking.HouseId" hidden />
                <input asp-for="Booking.UserId" hidden />
                <input asp-for="Booking.CheckInDate" hidden />
                <input asp-for="Booking.CheckOutDate" hidden />
                <input asp-for="Booking.NightsQty" hidden />

                <div class="row p-1">
                    <div class="col-8">
                        <h3 class="text-primary">Enter Booking details</h3>
                    </div>
                    <div class="col-4">
                        @if ((Model.Booking.Status == SD.StatusApproved || Model.Booking.Status == SD.StatusPending)
                        && User.IsInRole(SD.Role_Admin))
                        {
                            <button type="submit" asp-action="Cancel" class="btn btn-danger float-end"><i class="bi bi-x-circle"></i> Cancel booking</button>
                        }
                    </div>

                </div>
                <div class="row p-1">
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.UserName"></label>
                        <input asp-for="Booking.UserName" class="form-control" />
                        <span asp-validation-for="Booking.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.UserEmail"></label>
                        <input asp-for="Booking.UserEmail" class="form-control" />
                        <span asp-validation-for="Booking.UserEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.Phone"></label>
                        <input asp-for="Booking.Phone" class="form-control" />
                        <span asp-validation-for="Booking.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.NightsQty"></label>
                        <input asp-for="Booking.NightsQty" disabled class="form-control" />
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.Status"></label>
                        <input asp-for="Booking.Status" disabled class="form-control" />
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.BookingDate"></label>
                        <input asp-for="Booking.BookingDate" disabled class="form-control" />
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.CheckInDate"></label>
                        <input asp-for="Booking.CheckInDate" disabled class="form-control" />
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.ActualCheckInDate"></label>
                        <input asp-for="Booking.ActualCheckInDate" disabled class="form-control" />
                    </div>

                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.CheckOutDate"></label>
                        <input asp-for="Booking.CheckOutDate" disabled class="form-control" />
                        <span asp-validation-for="Booking.CheckOutDate" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 col-6">
                        <label asp-for="Booking.ActualCheckOutDate"></label>
                        <input asp-for="Booking.ActualCheckOutDate" disabled class="form-control" />
                        <span asp-validation-for="Booking.ActualCheckOutDate" class="text-danger"></span>
                    </div>
                    @if (Model.Booking.IsPaymentSuccessful || User.IsInRole(SD.Role_Admin))
                    {
                        <div class="form-group p-2 col-6">
                            <label asp-for="Booking.StripePaymentIntentId"></label>
                            <input asp-for="Booking.StripePaymentIntentId" disabled class="form-control" />
                        </div>
                        <div class="form-group p-2 col-6">
                            <label asp-for="Booking.StripeSessionId"></label>
                            <input asp-for="Booking.StripeSessionId" disabled class="form-control" />
                        </div>                        
                        <div class="form-group p-2 col-6">
                            <label asp-for="Booking.PaymentDate"></label>
                            <input asp-for="Booking.PaymentDate" disabled class="form-control" />
                        </div>
                        <div class="form-group p-2 col-6">
                            <label asp-for="Booking.Status"></label>
                            <input asp-for="Booking.Status" disabled class="form-control" />
                        </div>
                    }
                </div>


                <div class="form-group p-1">
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        if (Model.Booking.Status == SD.StatusApproved)
                        {
                         <button type="submit" asp-action="CheckIn" class="btn btn-primary form-control">Check in</button>

                        }
                        if (Model.Booking.Status == SD.StatusCheckedIn)
                        {
                            <button type="submit" asp-action="CheckOut" class="btn btn-primary form-control">Check out</button>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}