
<h2 class="text-center p-3">Booking list</h2>

<div class="row justify-content-md-center">
    <div class="col">
        <table id="tblBookings" class="table table-bordered table-hover table-dark">
            <thead class="bg-primary text-center align-middle">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Check-in date</th>
                    <th>Nights</th>
                    <th>Cost (PLN)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="table-light">
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src ="~/js/booking.js"></script>
}
