@model BookingVM

<div class="container p-2">
    <div class="row">
        <div class="col-12 col-lg-7 p-3 border">
            <div class="row">
                <h3 class="text-primary text-center">House details</h3>
            </div>
            <div class="text-end">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    Modify selection
                </a>
            </div>
            <hr>
            <partial name="_HouseDetails" model="@Model.HouseVM" />
            <hr>
            <div class="text-end">
                <h4>
                    Total cost: @Model.Booking.Cost.ToString("c");
                </h4>
            </div>

        </div>
        <div class="col-12 col-lg-5 p-3 border">
            <form method="post">
                <input asp-for="Booking.HouseId" hidden />
                <input asp-for="Booking.UserId" hidden />
                <input asp-for="Booking.CheckInDate" hidden />
                <input asp-for="Booking.CheckOutDate" hidden />
                <input asp-for="Booking.NightsQty" hidden />

                <div class="row">
                    <div class="col-12 p-4">
                        <h3 class="text-primary text-center">Eneter booking details:</h3>
                    </div>
                </div>
                <div class="form-group p-2">
                    <label asp-for="Booking.UserName"></label>
                    <input asp-for="Booking.UserName" class="form-control" />
                    <span asp-validation-for="Booking.UserName" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="Booking.UserEmail"></label>
                    <input asp-for="Booking.UserEmail" class="form-control" />
                    <span asp-validation-for="Booking.UserEmail" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="Booking.Phone"></label>
                    <input asp-for="Booking.Phone" class="form-control" />
                    <span asp-validation-for="Booking.Phone" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="Booking.CheckInDate"></label>
                    <input asp-for="Booking.CheckInDate" disabled class="form-control" />
                </div>
                <div class="form-group p-2">
                    <label asp-for="Booking.CheckOutDate"></label>
                    <input asp-for="Booking.CheckOutDate" disabled class="form-control" />
                </div>
                <div class="form-group p-2">
                    <label asp-for="Booking.NightsQty"></label>
                    <input asp-for="Booking.NightsQty" disabled class="form-control" />
                </div>
                <div class="form-group p-2">
                    @if (Model.Booking.House.IsBooked)
                    {

                        <input class="btn btn-primary disabled form-control" value="Sold Out" />
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary form-control">CheckOut Now</button>

                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}