@model House

<div class="row justify-content-md-center">
    <div class="col-lg-9">
        <div class="card bg-light p-2">
            <h2 class="text-center p-3">Create house</h2>
            <div class="p-2">
                <form method="post" class="row">
                    <div class="row p3">
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="Name" class="form-control border shadow" />
                            <label asp-for="Name" class="m-2"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="Location" class="form-control border shadow" />
                            <label asp-for="Location" class="m-2"></label>
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row p3">
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="Area" class="form-control border shadow" />
                            <label asp-for="Area" class="m-2"></label>
                            <span asp-validation-for="Area" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="RoomsQuantity" class="form-control border shadow" />
                            <label asp-for="RoomsQuantity" class="m-2"></label>
                            <span asp-validation-for="RoomsQuantity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row p3">
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="SingleBedQuantity" class="form-control border shadow" />
                            <label asp-for="SingleBedQuantity" class="m-2"></label>
                            <span asp-validation-for="SingleBedQuantity" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="DoubleBedQuantity" class="form-control border shadow" />
                            <label asp-for="DoubleBedQuantity" class="m-2"></label>
                            <span asp-validation-for="DoubleBedQuantity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row p3">
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="Price" class="form-control border shadow" />
                            <label asp-for="Price" class="m-2"></label>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="DiscountPrice" class="form-control border shadow" />
                            <label asp-for="DiscountPrice" class="m-2"></label>
                            <span asp-validation-for="DiscountPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-md-center p3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Description" class="form-control border shadow" />
                            <label asp-for="Description" class="m-2"></label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-md-center pt-2">
                        <div class="col-6 col-md-6">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="bi bi-check-circle"></i>  Create
                            </button>
                        </div>
                        <div class="col-6 col-md-6">
                            <a asp-controller="House" asp-action="Index" class="btn btn-secondary w-100">
                                <i class="bi bi-x-circle"></i>  Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}